#left
	- each post in posts
		.post
			.title
				h1 
					a(href='/post/'+post.id) #{post.title}
				span.comment Comments: #{post.comments.length}
			.date
				span On: #{post.date.getDate()}/#{post.date.getMonth()}/#{post.date.getFullYear()}
			.category
				p Category: #{post.category}
			.autor

			.desc
				!= post.body
			.footer
				.tag
					p Tags:  #{post.tag}
				.latestedit
#menu
	input(type='text', name='search', placeholder='Search...')
	if user
		if user.role == 1
			a(href='/admin') + Administration
			p
			a(href='/newpost') + New post