.post
	.title
		h1 #{post.title}
		span.comment Comments: #{post.comments.length}
	.date
		span On: #{post.date.getDate()}/#{post.date.getMonth()}/#{post.date.getFullYear()}
	.category
		p Category: #{post.category}
	.autor

	.desc
		!= post.body
	.footer
		.tag
			p Tags:  #{post.tag}
		.latestedit

.comments
	.title
		if user
			h1 Add a comment
			form(action='/newcomment/'+post.id, method='POST')
				textarea(name='body', id='commentbody', placeholder='Put here your comment')
				input(type='submit', id='send', value='Send Comment')
		h1 Comments
	- var i = 0
	- each comment in post.comments
		- i++
		.acomment
			.cuser
				span ##{i} | #{comment.username}
				span#commentDate #{comment.date.getDate()}/#{comment.date.getMonth()}/#{comment.date.getFullYear()} at #{comment.date.getHours()}:#{comment.date.getMinutes()} #{comment.date.getSeconds()}s
			.cbody
				span #{comment.body}